<AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity.Name!</span>
        <form method="post" action="LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="ExternalLogin?providerName=GitHub">GitHub</a>
    </NotAuthorized>
</AuthorizeView>
